
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* dark2 */
.text-gray{
    color: #424242;
}
/* dark3 */
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */

/* navbar realated style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
/* banner realated style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* feature section realated style */
.feature-card, .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature{
    gap: 100px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-weight: 700;
    font-size: 4rem;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.featured-architect{
    width: 100%;
}
/* some facts realated style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.85rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/* sponsore realated style */
.sponsore-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsore-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}
.footer{
    text-align: center;
    padding: 39px 410px;
    font-weight: normal;
    font-size: 1.25rem;
    margin: 216px 240px;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .feature{
        flex-direction: column;
    }
    .team-img-container,
    .fact-container,
    .sponsore-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .fact-container,
    .sponsore-companies{
        justify-items: center;
        gap: 24px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    
}
/* medium device query */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .feature{
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponsore-companies, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
